<div class="container my-4">
    <h1 class="mb-4">Projects</h1>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
            <th>State</th>
        </tr>
        </thead>
        <% @projects.each do |p| %>
            <tr>
                <td><%= p.name %> </td>
                <td><%= p.description %> </td>
                <td><%= p.start_date %> </td>
                <td><%= p.end_date %> </td>
                <td><%= p.state %> </td>
            </tr>
        <% end %>
    </table>
</div>